@font-face {
  font-family: "Raleway";
  font-style: extrabold;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: regular;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.page-header {
  width: 1440px;
  margin: 0 auto;
  margin-top: 20px;
}

.header-container {
  margin: 0 auto;
  max-width: 1040px;
}

.main-container {
  flex-grow: 1;
  /*margin: 0 auto;*/
}

.logo {
  background-color: transparent;
}

.logo-header {
  margin-left: 0;
}

.logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.logo:focus {
  outline: none;
  /*box-shadow: #83b3d3 0 0 1px;*/
  border: 2px solid #7B61FF;
  padding-top: 21px;
  padding-right: 2px;
  padding-left: -2px;
}

.logo:active {
  opacity: 0.3;
}

.logo-footer {
  width: 145px;
}

.logo-footer:hover {
  opacity: 0.6;
  cursor: pointer;
}

.logo-footer:focus {
  outline: none;
  border: 2px solid #7B61FF;
  padding-bottom: 10px;
}

.logo-footer:active {
  opacity: 0.3;
}
.field-search {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: #000000;
  min-height: 40px;
  width: 359px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 0;
  box-sizing: border-box;
  padding-left: 48px;

}

.search-form {
  position: relative;
  max-width: 518px;
}

.search-form::before {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  color: #000000;
  min-height: 40px;
  width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: -6px;
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
}

.navigation-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;

}

.navigation-user {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.number-of-basket {
  position: absolute;
  min-width: 21px;
  height: 21px;
  padding: 2px 4px 0;
  box-sizing: border-box;
  background-color:#FFFFFF;
  border-radius: 21px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  left: -15px;
}

.button {
  text-decoration: none;
}

.catalog-main {
  margin: 0 auto;
  margin-bottom: -2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog {
  margin-bottom: 70px;
  margin: 0;
  max-width: 840px;
  display: flex;
  flex-direction: column;
}

.catalog-head {
  display: flex;
  flex-direction: row;
  max-width: 840px;
  padding: 25px 40px;
  justify-content: space-between;
}

.catalog-view-link {
  width: 30px;
  height: 30px;
}

.sorting-direction{
  display: flex;
  flex-direction: row;
}

.arrow-up {
  position: relative;
}

.arrow-up::before {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 11px;
  height: 10px;
  content: "";
  background-image: url("../images/sort-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-down {
  position: relative;
}

.arrow-down::before {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 11px;
  height: 10px;
  content: "";
  background-image: url("../images/sort-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-button {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  min-width: 300px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  position: relative;
  cursor: pointer;
  text-align: start;
  padding-top: 18px;
}

.catalog-button::after {
  position: absolute;
  top: 3px;
  left: 243px;
  width: 50px;
  height: 50px;
  content: "";
  background-image: url("../images/catalog-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-box:focus-within .catalog-menu {
  display: flex;
}

.catalog-box:focus-within .catalog-button::after {
  background-image: url("../images/catalog-button-minus.svg");
  z-index: 4;
}

.catalog-menu {
  display: none;
  position: absolute;
  z-index: 3;
  left: 140px;
  width: 1160px;
  height: 166px;
  background-color: #FFE17F;
  padding-top: 10px;
}

.catalog-list {
  list-style-type: none;
  padding-left: 60px;
}

.for-quadro {
  padding-left: 70px;
}

.catalog-menu-item {
  margin-bottom: 14px;
}

.catalog-menu-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  text-transform: none;
}

.bold-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  list-style-type: none;
}

.slider-next {
  width: 20px;
  height: 60px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/slider-next.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-prev {
  width: 20px;
  height: 60px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/slider-prev.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-wrapper {
  position: relative;
}

.slider-image {
  margin-top: -20px;
}

.slider-controls {
  margin-left: 30px;
  position: absolute;
  top: 221px;
  width: 530px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-01,
.slider-02,
.slider-03 {
  position: relative;
}

.slider-01::before {
  position: absolute;
  top: -38px;
  left: 299px;
  width: 250px;
  height: 135px;
  content: "01";
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  background-color: transparent;
  color: #ffffff;
  z-index: -1;
}

.slider-02::before {
  position: absolute;
  top: -40px;
  left: 300px;
  width: 250px;
  height: 135px;
  content: "02";
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  background-color: transparent;
  color: #ffffff;
  z-index: -1;
}

.slider-03::before {
  position: absolute;
  top: -40px;
  left: 300px;
  width: 250px;
  height: 135px;
  content: "03";
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  background-color: transparent;
  color: #ffffff;
  z-index: -1;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: transparent;
  color: #000000;
  margin-top: 102px;
  width: 548px;
}

.slider-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  color: #444444;
  text-decoration: none;
  margin-top: -21px;
  max-width: 548px;
}

.button-in-slider {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 4px;
}

.button-in-slider:hover .more::before{
  height: 40px;
}

.button-in-slider:focus-within {
  outline: none;
}

.button-in-slider:focus-within .more{
  outline: none;
  border: solid 2px #AF4FFF;
}

.button-in-slider:active .more::before{
  height: 40px;
  background-color: #FFCC33;
}

.button-in-slider:disabled {
  opacity: 0.3;
}

.more {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 2;
  padding: 0 37px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  border: solid 2px transparent;
}

.more::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: #FFE17F;
}

.for-yellow {
  position: relative;
}

.for-yellow::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -3;
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
}

.for-catalog-yellow {
  position: relative;
}

.for-catalog-yellow::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -3;
  width: 1160px;
  height: 186px;
  background-color: #FFE17F;
}

.records-list {
  list-style-type: none;
}

.records-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  margin-bottom: -4px;
}

.records-discription {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
}

.catalog-category {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  flex-direction: row;
  gap: 34px;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0;
  margin-left: -3px;
  margin-top: 41px;
}

.catalog-category .catalog-item:nth-child(6n) {
  margin-right: -7px;
}

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
  outline: none;
  word-wrap: break-word;
}

.icon-vr,
.icon-mono,
.icon-camera,
.icon-band,
.icon-watch,
.icon-quadro {
  position: relative;
  display: block;
  outline: none;
}

.icon-vr::before,
.icon-mono::before,
.icon-camera::before,
.icon-band::before,
.icon-watch::before,
.icon-quadro::before {
  display: block;
  margin-bottom: 33px;
  outline: none;
}

.icon-vr::before {
  display: block;
  width: 160px;
  height: 160px;
  content: "";
  background-image: url("../images/catalog-VR.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.icon-mono::before {
  width: 160px;
  height: 160px;
  content: "";
  background-image: url("../images/catalog-monpods.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #FFE17F;
}

.icon-camera::before {
  width: 160px;
  height: 160px;
  content: "";
  background-image: url("../images/catalog-action-camera.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.icon-band::before {
  width: 160px;
  height: 160px;
  content: "";
  background-image: url("../images/catalog-band.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.icon-watch::before {
  width: 160px;
  height: 160px;
  content: "";
  background-image: url("../images/catalog-watch.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.icon-quadro::before {
  width: 160px;
  height: 160px;
  content: "";
  background-image: url("../images/catalog-quadrocopter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.catalog-item {
  width: 166px;
  max-height: 253px;
  box-sizing: border-box;
  outline: none;
  border: solid 2px transparent;
}

.catalog-item:hover a::before{
  background-color: #FFC700;
}

.catalog-item:focus-within {
  outline: none;
  border: solid 2px #AF4FFF;
}

.catalog-item:active {
  opacity: 0.3;
}

.advantages-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: flex-start;
  padding-top: 46px;
  padding-left: 0;
  min-width: 280px;
}

.button-advantages {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  border: none;
  align-self: center;
  text-align: center;
  width: 160px;
  min-height: 40px;
  padding-left: 10px;
}

.active-advantages {
  background-color: #000000;
  color: #FFE17F;
  padding-right: 262px;
  padding-left: 18px;
}

.button-advantages::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  margin-top: -4px;
  background-color: #FFE17F;
}

.tabs-full {
  border-left: solid 7px #000000;
  padding-left: 116px;
  padding-top: 23px;
}

.tabs-main {
  display: none;
}

.active-tab {
  display: block;
}

.tabs-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  text-align: left;
  margin-bottom: 33px;

}

.tabs-discription {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  color: #444444;
  text-decoration: none;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0 auto;
  max-width: 1160px;
  margin-top: 64px;
  min-height: 319px;
}

.advantages::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 289px;
  background-color: #F0F0F0;
}

.tab-01 {
  position: relative;
}

.tab-01::before {
  position: absolute;
  top: 5px;
  left: 558px;
  width: 136px;
  height: 164px;
  content: "";
  background-image: url("../images/delivery-man.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.tab-02 {
  position: relative;
}

.tab-02::before {
  position: absolute;
  top: -10px;
  left: 558px;
  width: 171px;
  height: 195px;
  content: "";
  background-image: url("../images/garanty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.tab-03 {
  position: relative;
}

.tab-03::before {
  position: absolute;
  top: -6px;
  left: 573px;
  width: 156px;
  height: 188px;
  content: "";
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.advantages {
  position: relative;
  margin: 0 auto;
  margin-bottom: 142px;
}

.delivery-container {
  margin: 0 auto;
  width: 1160px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: o;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.delivery:hover .button-truck {
  background-color: #FFC700;
  cursor: pointer;
}

.delivery:active {
  opacity: 0.3;
}

.button-delivery {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  background-color: #F0F0F0;
  color: #000000;
  letter-spacing: 0.2em;
  /*padding: 40px 125px;*/
  position: relative;
  text-transform: uppercase;
  padding-left: 4px;
  padding-top: 4px;
  display: block;
  max-width: 900px;
}

.button-truck {
  margin: 0;
  padding: 0;
  width: 125px;
  height: 100px;
  background-image: url("../images/truck.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
  border: none;
}

.button-info {
  margin: 0;
  padding: 0;
  width: 125px;
  height: 100px;
  background-image: url("../images/info-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F0F0F0;
  border: none;
}

.about-columns {
  display: flex;
  flex-direction: row;
  gap: 104px;
  margin: 0 auto;
  width: 1160px;
  justify-content: flex-start;
  margin-bottom: 79px;
}

.about-block {
  display: flex;
  flex-direction: column;
  width: 520px;
  position: relative;
  margin-top: 6px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  width: 520px;
  position: relative;
  margin-left: 4px;
  margin-top: 6px;
}

.contacts-block::before,
.about-block::before  {
  position: absolute;
  content: "";
  top: -6px;
  left: 0;
  z-index: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  margin-bottom: 29px;
}

.contacts-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  margin-bottom: 47px;
}

.about-discription {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
  margin-bottom: 12px;
}

.contacts-discription {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
  margin-bottom: 30px;
}

.discription-item {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.discription-item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/point.svg);
  align-items: center;
  margin-right: 26px;
}

.about-list {
  color: #FFC700;
  margin-top: 0;
  margin-left: 1px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 25px;
}

.about-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 270px;
  padding: 0 41px;
  text-align: center;
}

.contacts-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 195px;
  padding: 0 41px;
  text-align: center;
}

.yellow-line-second {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 2;
  padding: 0 34px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 0;
  margin-top: -1px;
}

.yellow-line-second::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: #FFE17F;
}

.address-title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
  margin-bottom: 15px;
}

.address-items {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
  font-style: normal;

}

.tel-items {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  font-style: normal;
  margin-bottom: 30px;

}

.work-time-header {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;

}

.work-time-item {
  border: none;
  margin-top: 30px;
  margin-left: -15px;
  margin-bottom: 29px;
}

.work-time-discription {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  font-style: normal;
  margin-left: 2px;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  margin-left: 151px;
  margin-top: 65px;
}

.subscribe-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
  color: #444444;
  font-style: normal;
  margin-top: 74px;
}

.newsletter-wrapper {
  margin-left: -7px;
}

.newsletter-form {
  margin-left: 147px;
}

.yellow-line {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 2;
  padding: 0 22px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 2px;
  margin-top: -1px;
}

.yellow-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: #FFE17F;
}



.newsletter-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
  margin-top: -3px;
  margin-left: -2px;
}

.field {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  width: 541px;
  height: 51px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
  padding: 0;
  padding-left: 16px;
  margin-right: -4px;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  min-width: 253px;
  min-height: 57px;
  margin-right: 220px;
  padding-left: 8px;
  padding-right: 4px;
}

.free {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
  color: #444444;
  font-style: normal;
  position: relative;
}

.free::before {
  position: absolute;
  top: 6px;
  left: -31px;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../images/allow-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.newsletter-section {
  background-color: #F0F0F0;
  margin: 0 auto;
}

.newsletter-item {
  background-color: #F0F0F0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 252px;
  row-gap: 100px;
  margin: 64px auto;
  margin-bottom: 0;
  max-width: 1440px;
}

.page-footer-main {
  background-color: #444444;
}

.page-footer {
  background-color: #444444;
  display: grid;
  grid-template-columns: 239px 1fr 175px;
  grid-template-rows: 40px auto auto;
  row-gap: 31px;
  column-gap: 20px;
  padding: 62px 140px;
  padding-bottom: 77px;
  width: 1160px;
  margin: 0 auto;
  padding-left: 143px;
}

.yellow-line-footer {
  position: relative;
}

.device-logo {
  grid-column: 1 / 2;
  grid-row: 1/ 2;

}

.footer-adress {
  grid-column: 1 / 2;
  grid-row: 2/ 3;
  position: relative;

}

.yellow-line-footer::before {
  content: "";
  position: absolute;
  left: 143px;
  top: 237px;
  width: 80px;
  height: 7px;
  background-color: #FFC500;
  z-index: 2;
}

.address-footer-discription {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}

.footer-delivery-garanty-contacts {
  grid-column: 2 / 3;
  grid-row: 2/ 3;
}

.button-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-footer-contact {
  margin-left: 1px;
}

.delivery-garanty-contacts-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 58px;
  margin-top: 4px;
  gap: 31px;
  flex-direction: row;
  grid-column: 2 / 3;
  grid-row: 2/ 3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  margin-left: -106px;
  margin-top: 13px;
}

.footer-social {
  grid-column: 2 / 3;
  grid-row: 3/ 4;
}

.button-telegram {
  display: flex;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/telegram.svg");
}

.button-YT {
  display: flex;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/youtube.svg");
}

.button-twitter {
  display: flex;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/twitter.svg");
}

.footer-contacts {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-top: 2.5px;
  margin-left: -1px;
}

.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-style: normal;

}

.htmlacademy {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin-top: 16px;
  margin-left: 59px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.breadcrumbs-item {
  margin-right: 16px;
}

.inner-header {
  background-color: #ffffff;
  margin: 35px auto;
  margin-top: 50px;
  width: 1079px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.inner-main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 35px;
}

.sorting-main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.catalog-monopods {
  flex-grow: 1;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.full-filter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1160px;
  column-gap: 10px;
  background-color: #F0F0F0;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
}

.catalog-filter-title {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-style: bold;
  margin-bottom: 20px;
}

.catalog-filter-group {
  border: none;
  position: relative;
}

.catalog-filter-title::before {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 12px;
}

.range-group {
  width: 200px;
}

.range-scale {
  margin-top: 30px;
  position: relative;
  height: 2px;
  background-color: #DCDCDC;
  margin-bottom: 20px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  width: 119px;
}

.range-toggle {
  position: absolute;
  width: 18x;
  height: 18px;
  background: #EBEBEB;
  border: solid 2px #000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 7px 7px;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  width: 200px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}


.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-max {
  width: 37px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
  border-radius: 3px;
}

.control-mark-circle {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control:hover .control-mark {
  border-color: #CCCCCC;
}

.control-input:disabled + .control-mark {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-image: url("../images/allow-filter.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.control-input[type="radio"] + .control-mark-circle {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-circle::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-label {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item-bluetooth:not(:last-child) {
  margin-bottom: 16px;
}

.button-for-filter {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: transparent;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  z-index: 2;
  padding: 0 50px;
}

.for-yellow-line {
  position: relative;
}

.for-yellow-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 220px;
  height: 8px;
  margin-top: -4px;
  background-color: #FFE17F;
}

.select-control {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: none;
  background-color: transparent;
}

.product-card-list {
  max-width: 840px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 44px;
  column-gap: 40px;
  background-color: #FFFFFF;
  padding-top: 70px;
}

.product-card-link{
  text-decoration: none;
}

.product-card-title {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

.product-card-price {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.button-loading {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: solid 3px #E5E5E5;
  padding: 18px 294px;
}

.pagination-container {
  background-color: #EBEBEB;
  max-width: 760px;
}

.pagination {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-link {
  list-style-type: none;
  text-decoration: none;
}

.grey {
  opacity: 0.3;
  margin-left: 28px;
}

html {
  height: 100%;
}

.first-tape {
  display: flex;
  flex-direction: row;
  max-width: 1040px;
  justify-content: start;
  margin-top: 21px;
}

.second-tape {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 27px;
  justify-content: space-between;
}

.navigation-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 471px;
  padding: 0;
  margin-right: -4px;
  list-style-type: none;
}

.bold-link {
  /*margin-left: 45px;*/
  letter-spacing: 0.2em;
  margin-left: -4px;
}
.thin-link {
  margin-left: 36px;
}

.for-garanty {
  margin-left: -9px;
}

.enter-link {
  margin-left: 53px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-height: 560px;
  max-width: 1160px;
  flex-wrap: wrap;
  column-gap: 40px;
  margin-bottom: -29px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 16px;
}

.slider-pagination-item {
  margin: 0;
  border: solid 2px transparent;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: solid 2px #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-item:focus-within {
  border: solid 2px #AF4FFF;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  border: solid 6px #000000;
}

.slider-no-active {
  display: none;
}

.slider {
  position: relative;
  margin: 0 auto;
  max-width: 1160px;
  min-height: 560px;
  margin-bottom: 7px;
}

.records-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.records-item {
  margin-right: 21px;
}

.person {
  position: relative;
}

.person::before {
  position: absolute;
  top: 14px;
  left: -27px;
  width: 15px;
  height: 12px;
  content: "";
  background-image: url("../images/piople-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.compare {
  position: relative;
  display: inline-block;
  margin-right: 13px;
  margin-top: 5px;
}

.compare::before {
  position: absolute;
  top: 9px;
  left: -22px;
  width: 10px;
  height: 12px;
  content: "";
  background-image: url("../images/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.basket {
  margin-left: 20px;
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.basket::before {
  display: inline-block;
  width: 16px;
  height: 14px;
  content: "";
  z-index: -2;
  background-image: url("../images/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  margin-top: -5px;
}
